<div id="masonry-container">
  {{#each model}}
    <div class="item">
      <div class="item-content">
        {{#link-to 'posts.post' this}}<h4>{{title}}</h4>{{/link-to}}
        <br>
        {{excerpt}}
        <br>
        {{author}}
      </div>
    </div>
  {{/each}}
</div>

<!-- div id="masonry-container">
  <div class="item">
    <div class="item-content"><h4>Title</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, architecto facilis voluptatibus nulla similique dolores rerum. Quaerat nesciunt porro ipsam. Unde, totam, qui tempora consequatur corporis sint! Vero, dolorum, quisquam!</p></div>
  </div>
  <div class="item">
    <div class="item-content"></div>
  </div>
  <div class="item">
    <div class="item-content"></div>
  </div>
  <div class="item">
    <div class="item-content"></div>
  </div>
  <div class="item">
    <div class="item-content"></div>
  </div>
  <div class="item">
    <div class="item-content"></div>
  </div>
  <div class="item">
    <div class="item-content"></div>
  </div>
  <div class="item">
    <div class="item-content"></div>
  </div>
  <div class="item">
    <div class="item-content"></div>
  </div>
  <div class="item">
    <div class="item-content"></div>
  </div>
  <div class="item">
    <div class="item-content"></div>
  </div>
  <div class="item">
    <div class="item-content"></div>
  </div>
  <div class="item">
    <div class="item-content"></div>
  </div>
  <div class="item">
    <div class="item-content"></div>
  </div>
  <div class="item">
    <div class="item-content"></div>
  </div>
</div -->