/*************************************************************
                    google fonts styles
**************************************************************/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/Kom15zUm24dIPfIRiNogNuvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/G2uphNnNqGFMHLRsO_72ngLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}


/*************************************************************
                    common and override styles
**************************************************************/
body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #444444;
  background-color: #ffffff;
}

a {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

a:hover, a:focus {
  text-decoration: none;
}

p {
  line-height: 1.4em;
  word-spacing: 0.2em;
}

.lead {
  font-size: 3em;
  color: #428BCA;
  text-align: center;
  margin-top: 50px;
}

.logo {
  padding-top: 5px;
  padding-right: 15px;
}

.logo-title {
  font-size: 1.1em;
  color: #428bca;
  line-height: 3em;
}

.page-header h1 {
  font-weight: 400;
  color: #428BCA;
}

.intro .col-xs-4 {
  text-align: center;
  background: none;
  border: none;
}

blockquote {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
  background-color: #ffffff;
  border-color: #d0e3f0;
}

blockquote p {
  font-size: 1em;
}

hr {
  border-top: 1px solid #CCCCCC;
}

.navbar.navbar-default.navbar-fixed-top > .container {
  height: 50px;
}

.navbar.navbar-default.navbar-fixed-top{
  height: 70px;
  padding-top: 10px;
}

.navbar-default {
  background-color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a.active {
  border-bottom: 2px solid #428BCA;
  padding-bottom: 21px;
}

.navbar-default .navbar-nav > li > a:hover, a:focus {
  border-bottom: 2px solid #428BCA;
  padding-bottom: 21px;
}

.container .intro .icon-github, .icon-file-text, .icon-th-large {
  font-size: 8em;
  color: #428BCA;
}

.container .intro h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

#footer {
  height: 60px;
  background-color: #FFFFFF;
  padding-top: 25px;
  text-align: center;
}


/*************************************************************
                    highlight styles
**************************************************************/
pre {
  background: #FFFFFF;
}

pre code {
  background: #FFFFFF;
}


/*************************************************************
                    typeahead styles
**************************************************************/
.tt-hint {
  display: none;
}

.twitter-typeahead {
  width: 100%;
  background-color: #fff;
}

.twitter-typeahead>input {
  /*border: none;*/
}

.tt-dropdown-menu {
  min-width: 100%;
}

.tt-suggestion {
  text-align: left;
  border-bottom: solid 1px #CCCCCC;
}

.tt-suggestion:last-child {
  border: 0; border-bottom: 0;
}

.tt-suggestion .suggestion-title {
  display: inline-block;
  width: 60%;
  font-weight: bold;
}

.tt-suggestion .suggestion-description {
}


/*************************************************************
                    hexaflip styles
**************************************************************/
.cubes-logo {
  margin: 0 auto;
  margin-bottom: 4rem;
}

.cubes-logo .hexaflip-cube {
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}

.cubes-logo .hexaflip-cube .hexaflip-side-left,
.cubes-logo .hexaflip-cube .hexaflip-side-right {
  background-color: #222 !important;
}

.cubes-logo .hexaflip-cube .hexaflip-side {
  font-weight: 100;
  text-shadow: none;
}

.cubes-logo .hexaflip-cube .hexaflip-side:nth-child(1n+1) {
  background-color: #069ad5;
}

.cubes-logo .hexaflip-cube .hexaflip-side:nth-child(2n+2) {
  background-color: #fc5215;
}

.cubes-logo .hexaflip-cube .hexaflip-side:nth-child(3n+3) {
  background-color: #30b71d;
}

.cubes-logo .hexaflip-cube .hexaflip-side:nth-child(4n+4) {
  background-color: #fdfd6d;
  color: #222;
}


/*************************************************************
                    masonry styles
**************************************************************/
#masonry-container {
  /*max-width: 1024px;*/
}

#masonry-container .item {
  float: left;
}

/* item is invisible, but used for layout */
.item,
.item-content {
  width: 180px;
  height: 240px;
  margin: 5px;
}

.item {
  border: none;
  background: transparent;
}

/* item-content is visible, and transitions size */
.item-content {
  width: 180px;
  height: 240px;
  /*background: #ccc;*/
  padding: 15px;
  border: 1px solid;
  border-color: #ccc;
  border-radius: 5px;
  -webkit-transition: width 0.4s, height 0.4s;
     -moz-transition: width 0.4s, height 0.4s;
       -o-transition: width 0.4s, height 0.4s;
          transition: width 0.4s, height 0.4s;
}

.item:hover .item-content {
  border-color: white;
  background: #428bca;
  cursor: pointer;
  color: #FFFFFF;
}

/* both item and item content change size */
.item.is-expanded,
.item.is-expanded .item-content {
  width: 240px;
  height: 320px;
}

.item.is-expanded {
  z-index: 2;
}

.item.is-expanded .item-content {
  background: #F90;
}

