<div class="container">
  <p class="lead">
    <strong>About</strong><br>
    <div class="alert alert-warning"><strong>Disclaimer: </strong>This site is at the moment under heavy development.</div>
  </p>
</div>