<div class="container">
  <p class="lead">
    <strong>Articles</strong><br>
  </p>
</div>

{{#each article in model}}
  <div class="row">
    <div class="pull-left">
      <h2>{{article.title}}</h2>
    </div>
  </div>
  <div class="row">
    {{article.safehtml}}
  </div>
  <hr>
{{/each}}
