<div class="container">
  <p class="lead">
    <strong>Components</strong><br>
  </p>

  <div class="row">
    <div class="col-xs-4">
      <ul class="list-group">
        {{#each element in model}}
          {{#link-to 'elements.element' element}}
            <li class="list-group-item">{{element.title}}</li>
          {{/link-to}}
        {{/each}}
      </ul>
    </div>
    <div class="col-xs-8">
      {{outlet}}
    </div>
  </div>

</div>
