<div class="container">
  <p class="lead">
    <strong>Components</strong><br>
  </p>

  {{! masonry-grid model=model}}
  {{! element.description}}

  <ul class="list-group">
    {{#each element in model}}
      <li class="list-group-item">{{#link-to 'elements.element' element}}{{element.title}}{{/link-to}}</li>
    {{/each}}
  </ul>

{{outlet}}

</div>
