<div id="footer">
  <div class="container">
    <p>Brought to you with <i class="glyphicon glyphicon-heart"></i> by <a href="http://intuitivepixel.com" target="_blank">intuitivepixel</a>.</p>
  </div>
  <div class="alert alert-warning"><strong>Disclaimer: </strong>This site is at the moment under heavy development.</div>
</div>