<div class="container intro">
  <p class="lead">
    <strong>Ember Components</strong><br>
    <span class="subline">Building blocks for <strong>ambitious</strong> web applications.</span>
  </p>
  {{hexaflip-cubes chars='EMBER' waitForFirstFlipInterval=1000 flipInterval=5000 waitForLoop=2000}}

  <div class="row"><br><br></div>

  <div class="row">
    <div class="col-xs-4">
      <i class="icon-th-large"></i>
      <h2>Components</h2>
      <p>The aim of this site is to have a common place where to find, share and read all about ember components.</p>
      <p>{{#link-to 'elements' classNames="btn btn-default"}}Components{{/link-to}}</p>
    </div>
    <div class="col-xs-4">
      <i class="icon-file-text"></i>
      <h2>Articles</h2>
      <p>Every now and then, we try to write useful articles about how to build and use ember components in your ember applications.</p>
      <p>{{#link-to 'articles' classNames="btn btn-default"}}Articles{{/link-to}}</p>
    </div>
    <div class="col-xs-4">
      <i class="icon-github"></i>
      <h2>Contribute</h2>
      <p>This website source code is hosted on Github. To contribute a component, create a fork of the project on GitHub and submit a pull request.</p>
      <p>{{#link-to 'contribute' classNames="btn btn-default"}}Contribute{{/link-to}}</p>
    </div>
  </div>

</div>
