<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar">
      <div class="navbar-left">
        {{#link-to 'intro'}}
          <img src="assets/components_logo.png" class="logo pull-left">
          <span class="logo-title">Ember Components</span>
        {{/link-to}}
        {{typeahead-inputfield}}
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>{{#link-to 'elements'}}Components{{/link-to}}</li>
        <li>{{#link-to 'articles'}}Articles{{/link-to}}</li>
        <li>{{#link-to 'contribute'}}Contribute{{/link-to}}</li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
      </ul>
    </div>
  </div>
</div>