
{{! masonry-grid model=model}}
<br>
<div class="panel panel-default">
  <div class="panel-heading">Available Components</div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Excerpt</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      {{#each model}}
      <tr>
        <td>{{#link-to 'posts.post' this}}{{title}}{{/link-to}}</td>
        <td>{{safestring excerpt}}</td>
        <td>{{author}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{outlet}}